<head>
  <%= javascript_include_tag "react", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "react-dom", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
<div id="root"></div>
</body>
